<% include header%>
<h1>RoadMap</h1>
<p>已实现：</p>
<ol>
  <li>登录</li>
  <li>数据库支持</li>
  <li>会话支持</li>
  <li>发微博</li>
  <li>相关用户微博搜索</li>
</ol>
<p>计划中：</p>
<ol>
  <li>评论系统</li>
  <li>转发</li>
  <li>头像</li>
  <li>私信功能</li>
  <li>用户搜索，微博搜索分离(搜索页面进行分开展示)与整合(用户只需一次输入一次点击)</li>
</ol>
<% include footer%>
