<footer role="contentinfo">
  <div class="container text-muted">
    <p>Designed and built with all the love in the world by
      <a href="http://www.weibo.com/u/1577498032" target="_blank">@小盘鸡同学</a>.</p>
    <ul class="footer-links">
      <li>当前版本： v0.1.0</li>
      <li>·</li>
      <li><a href="https://ilovelll.github.io">GitHub 仓库</a></li>
      <li>·</li>
      <li><a href="/about">关于</a></li>
      <li>·</li>
      <li><a href="http://www.bootcss.com/">感谢BootStrap</a></li>
      <li>·</li>
      <li><a href="https://nodejs.org">感谢NodeJs</a></li>
    </ul>
    <P>CopyRight <span class="glyphicon glyphicon-copyright-mark"></span> By Lihongn</p>
  </div>
</footer>
<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/javascripts/scrollup.js"></script>
</body>
</html>
